body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes animate {
    0% {
        color: transparent;
    }

    100% {
        color: white;
    }
}

@media only screen and (max-width: 610px) {
    .outer {
        width: 100%;
    }

    .outer h1 {
        font-size: 26px;
    }

    .digital .con {
        width: 25%;
    }
}

@media only screen and (max-width:420px) {
    .sec {
        font-size: 10px;
    }

    .time {
        font-size: 40px;
    }

    .outer h1 {
        font-size: 16px;
    }
}
.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    height: 300px;
    width: 600px;
    overflow: hidden;
}

.sec,
.time {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.time {
    height: 79%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bolder;
}

.sec1,
.sec2,
.sec3,
.sec4 {
    animation-name: animate;
    animation-duration: 1s;
    transform: all;
    animation-fill-mode: forwards;
}

.sec2 {
    color: transparent;
    animation-delay: 1s;
}

.sec3 {
    color: transparent;
    animation-delay: 2s;
}

.sec4 {
    color: transparent;
    animation-delay: 3s;
}

.outer h1 {
    font-family: Comic Sans Ms;
    margin: 0;
    margin-top: 30px;
}

.digital {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

.digital .con {
    height: 65%;
    width: 20%;
    -webkit-box-reflect: below 0 linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
    ;
}

